<h1 [innerHTML]="today"></h1>
<h1>{{today}}</h1>


<!-- attribute binding -->

<input type="text" [attr.value]="today" />
<p></p>
<input type="text" value="today" />
<!-- property binding -->
<p></p>
<input type="checkbox" [checked]="isMarried" />Married
<!--Checked is a property, not an attribute and so [attr.checked]="isMarried" will not work-->

<!-- class  binding -->
<p></p>
<input type="checkbox" #banner (click)="null" />Show Banner
<div [class.banner]="banner.checked">Lucine's App</div>

<!-- style binding -->
<p></p>
<div [style.color]="red">This text is not bound to a style because Angular reads "red" as an expression, not as a
    constant for the color red.</div>
<p></p>
<div [style.color]="'red'">This text is bound to a style because Angular reads 'red' (in single quotes) as an constant
    that is given within an expression notated by double quotes ("").</div>
<p></p>
<div [style.color]="banner.checked ? 'blue':'violet'">This text is also bound to a style AND changes color based on
    whether "Show Banner" is checked or not.</div>
<p></p>
<!-- event binding -->
<div (mouseover)="showMouse($event)">
    This is a simple DIV
    <p></p>
    This is the second line.

</div>

<!-- ngClass attribute Directive -->
<div [ngClass]="{'banner' : true, 'bright':true}">ngClass Attribute Directive</div>

<!--Ex 7.1-->
<p></p>

Color: <select #color (click)="null">
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="cyan">Aqua</option>
    </select>
Size:
<select #size (click)="null">
        <option value="12pt">12</option>
        <option value="14pt">14</option>
        <option value="16pt">16</option>
        <option value="24pt">24</option>
    </select>

<div [ngStyle]="{'color':color.value, 'font-size' : size.value}">
    This text will change according to the options selected above.
</div>

<!--ngIf Structural Directive-->
<input type="checkbox" #showFirstBlock (click)="null" />Show FirstBlock

<h2 *ngIf="showFirstBlock.checked; then firstBlock; else secondBlock"></h2>
<ng-template #firstBlock><h2>First Block</h2></ng-template>
<ng-template #secondBlock><h2>Second Block</h2></ng-template>